
<section class="col logo center">
  <%= image_tag("logo.png", class: "logo-img") %>
  <h1 class="title logo-title">JAVAKAT</h1>
  
<!--  <div class="cmd">
    <input type="text" class="cmd-prompt"></input>
    <div class="shell">
      <p class="shell-entry">run app JAVAKAT DESIGN</p>
      <p class="shell-entry">...</p>
      <p class="shell-entry">started!</p>
      <p class="shell-entry">Enter a command. Common ones include: </p>
      <p class="shell-entry">  - about : describes Javakat. </p>
      <p class="shell-entry">  - members : lists Javakat members. adding the -s option (i.e. members -s) shows their steam data. </p>
      <p class="shell-entry">  - portfolio : lists projects we've done. </p>
      <p class="shell-entry">  - help : displays this command list again. </p>
      <p class="shell-entry">  and there may be others... </p>
    </div>
  </div>-->
  
</section>

<section class="nav">
  <section class="boxkat-accordion">
    <div class="molecule">
      <input type="checkbox" class="molecule-chk" id="about-toggle" />
      <label for="about-toggle" class="molecule-toggle">
        <h2 class="toggle-header title">ABOUT</h3>
      </label>
      <section class="molecule-content">
        <p class="content-header">We're ideas.</p>
        <p class="content-body">
          But we're so much more. We're bodies with keyboards, 
          we're fixers and doers, and above all else, we're creators.
        </p>
        <p class="content-header">Interaction and individualism.</p>
        <p class="content-body">
          At Javakat Design, we make things that people touch and
          that touch people &mdash; be it a story, a game, or a web
          site. It's our passion to bring unique and novel ideas to
          the table and use them to inspire emotion within our 
          audience.
        </p>
      </section>
    </div>
    <div class="molecule">
      <input type="checkbox" class="molecule-chk" id="members-toggle" />
      <label for="members-toggle" class="molecule-toggle">
        <h2 class="toggle-header title">MEMBERS</h2>
      </label>
      <section class="molecule-content">
        <p class="content-header">Jake</p>
        <p class="content-body">
          To be filled in when I can make claims without sounding like a 
          pretentious braggart.
        </p>
      </section>
    </div>
<!--
    <h3 class="title">PORTFOLIO</h3>
    <h3 class="title">CONTACT</h3>-->
  </section>
</section>
