<section class="emph left">
<!-- TODO: load partial -->
</section>

<section class="logo center">
  <%= image_tag("logo.png", class: "logo-img") %>
  <h1 class="logo-title">JAVAKAT</h1>
  <div class="cmd">
    <input type="text" class="cmd-prompt"></input>
    <div class="shell">
      <p class="shell-entry">run app JAVAKAT DESIGN</p>
      <p class="shell-entry">...</p>
      <p class="shell-entry">started!</p>
      <p class="shell-entry">Enter a command. Common ones include: </p>
      <p class="shell-entry">  - about : describes Javakat. </p>
      <p class="shell-entry">  - members : lists Javakat members. adding the -s option (i.e. members -s) shows their steam data. </p>
      <p class="shell-entry">  - portfolio : lists projects we've done. </p>
      <p class="shell-entry">  - help : displays this command list again. </p>
      <p class="shell-entry">  and there may be others... </p>
    </div>
  </div>
  
</section>

<section class="details right">
<!-- TODO: load partial -->
</section>
