
<section class="col logo center">
  <%= image_tag("logo.png", class: "logo-img") %>
  <h1 class="title logo-title">JAVAKAT</h1>
  
<!--  <div class="cmd">
    <input type="text" class="cmd-prompt"></input>
    <div class="shell">
      <p class="shell-entry">run app JAVAKAT DESIGN</p>
      <p class="shell-entry">...</p>
      <p class="shell-entry">started!</p>
      <p class="shell-entry">Enter a command. Common ones include: </p>
      <p class="shell-entry">  - about : describes Javakat. </p>
      <p class="shell-entry">  - members : lists Javakat members. adding the -s option (i.e. members -s) shows their steam data. </p>
      <p class="shell-entry">  - portfolio : lists projects we've done. </p>
      <p class="shell-entry">  - help : displays this command list again. </p>
      <p class="shell-entry">  and there may be others... </p>
    </div>
  </div>-->
  
</section>

<section class="nav">
  <section class="boxkat-accordion">
    <div class="molecule">
      <input type="checkbox" class="molecule-chk" id="about-toggle"></input>
      <label for="about-toggle" class="molecule-toggle">
        <h2 class="toggle-header title">ABOUT</h2>
      </label>
      <section class="molecule-content">
        <p class="content-header">We're ideas.</p>
        <p class="content-body">
          But we're so much more. We're bodies with keyboards, 
          we're fixers and doers, and above all else, we're creators.
        </p>
        <p class="content-header">Interaction and individualism.</p>
        <p class="content-body">
          At Javakat Design, we make things that people touch and
          that touch people &mdash; be it a story, a game, or a web
          site. It's our passion to bring unique and novel ideas to
          the table and use them to inspire emotion within our 
          audience.
        </p>
      </section>
    </div>
    <div class="molecule">
      <input type="checkbox" class="molecule-chk" id="members-toggle"></input>
      <label for="members-toggle" class="molecule-toggle">
        <h2 class="toggle-header title">MEMBERS</h2>
      </label>
      <section class="molecule-content">
        <p class="content-header">Jake</p>
        <p class="content-body">
          To be filled in when I can make claims without sounding like a 
          pretentious braggart.
        </p>
      </section>
    </div>
    <div class="molecule">
      <input type="checkbox" class="molecule-chk" id="portfolio-toggle"></input>
      <label for="portfolio-toggle" class="molecule-toggle">
        <h2 class="toggle-header title">PORTFOLIO</h2>
      </label>
      <section class="molecule-content">
        <p class="content-header">Impressions and impact.</p>
        <p class="content-body">
          Our designs leave marks on minds. From pet projects
          like <a class="body-link" href="http://pixilic.com/apps/pilgrim">
          Pilgrim</a> to functional, fully-featured, client-driven
          projects like 
          <a class="body-link" href="https://cws.auburn.edu/notetake">
          Notetake</a>, our output is loud. 
        </p>
      </section>
    </div>
    <div class="molecule">
      <input type="checkbox" class="molecule-chk" id="contact-toggle"></input>
      <label for="contact-toggle" class="molecule-toggle">
        <h2 class="toggle-header title">CONTACT</h2>
      </label>
      <section class="molecule-content">
        <p class="content-header">Intrigued?</p>
        <p class="content-body">
          Shoot us an email at <a class="body-link" href="mailto:javakatdesign@gmail.com">javakatdesign@gmail.com</a>.
        </p>
      </section>
  </section>
</section>
