@font-face {
  font-family: 'Orator Std';
  src:font-url('OratorStd.eot');
  src:font-url('OratorStd.eot?#iefix') format('embedded-opentype'),
    font-url('OratorStd.svg#OratorStd') format('svg'),
    font-url('OratorStd.woff') format('woff'),
    font-url('OratorStd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

::selection {
  background: #fddab7;
}
::-moz-selection {
  background: #fddab7;
}

body {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #282828;
}
.body-link{
  text-decoration: none;
  color: #faa24a;
  font-weight: bold;
}
.body-link:hover{
  color: #9a4200;
}
.title {
  font-family: 'Orator Std', sans-serif;
  font-weight: lighter;
}

.col {
  float: left;
  height: 100%;
  min-height: 100px;
  display:inline;
  padding: 0;
  margin: 0;
}


//left column
.emph {

}


//center column
.logo {
  text-align: center;
  width: 100%;
}

.logo-img {
  height: 300px;
}

.logo-title {
  font-size: 3em;
  font-weight: lighter;
  color: #282828;
  margin: 0;
  padding: 0;
}

.nav {
  clear:both;
  text-align: center;
  position: relative;
  top: 5em;
}
.boxkat-accordion {
  
}

.molecule {

}

.molecule-chk {
  display: none;
}

.molecule-toggle {
  background: white;
  color: #282828;
  width: 25%;
  cursor: pointer;
}
.molecule-toggle:hover {
  color: #faa24a;
}


.toggle-header {
  font-size: 2.5em;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.molecule-content {
  color: #282828;
  background: #ddd;
  text-align: center;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow-y:hidden;
  top:3em;
  
  -webkit-transition: max-height 0.5s ease-in-out,
                      padding-bottom 0.3s ease-in-out;
     -moz-transition: max-height 0.5s ease-in-out,
                      padding-bottom 0.3s ease-in-out;
      -ms-transition: max-height 0.5s ease-in-out,
                      padding-bottom 0.3s ease-in-out;
       -o-transition: max-height 0.5s ease-in-out,
                      padding-bottom 0.3s ease-in-out;
          transition: max-height 0.5s ease-in-out,
                      padding-bottom 0.3s ease-in-out;
}

.content-header {
  font-size: 2.5em;
  font-weight: normal;
}

.content-body {
  text-align: left;
  line-height: 25px;
  margin: 0 auto;
  max-width: 500px;
}

input[type="checkbox"][value="on"].molecule-chk ~ .molecule-content,
    input[type="checkbox"].molecule-chk:checked ~ .molecule-content,
                          .molecule-chk:checked ~ .molecule-content {
  max-height: 1000px;
  padding-bottom: 3em;
}

.atom {

}



//right column
.details {
  width: 33%;
}


.steam {
  width: 30%;
  margin-left: 3%;
}

.profile {
}

.profile-persona {
  display: inline-block;
  position:relative;
  top: -1em;
  margin-left: 0.5em;

  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  color: #282828;  
}
.profile-persona:hover {
  color: #faa24a;
}

.profile-avatar {
  display: inline-block;
  width: 64px;
  height: 64px;
  -webkit-border-radius: 32px;
     -moz-border-radius: 32px;
          border-radius: 32px;
}

.game {
  text-align: left;
  margin-top: 2rem;
  margin-bottom: 2rem;
  vertical-align: top;
}

.game-img {
  display: inline-block;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

.game-text {
  display: inline;
  margin-left: 0.5em;
  line-height: 20px;
}

.game-name {
  display: inline;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.game-hours {
  margin: 0;
  padding: 0;
}

