// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Orator Std';
  src:font-url('OratorStd.eot');
  src:font-url('OratorStd.eot?#iefix') format('embedded-opentype'),
    font-url('OratorStd.svg#OratorStd') format('svg'),
    font-url('OratorStd.woff') format('woff'),
    font-url('OratorStd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Droid Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  ::selection {
    background: #faa24a;
  }
  ::-moz-selection {
    background: #faa24a;
  }
}
.title {
  font-family: 'Orator Std', sans-serif;
  font-weight: lighter;
}

.col {
  float: left;
  height: 100%;
  min-height: 100px;
  display:inline;
  padding: 0;
  margin: 0;
}


//left column
.emph {

}


//center column
.logo {
  text-align: center;
  width: 100%;
}

.logo-img {
  height: 300px;
}

.logo-title {
  font-size: 3em;
  font-weight: lighter;
  color: #282828;
  margin: 0;
  padding: 0;
}

.nav {
  clear:both;
  text-align: center;
  border-top: 3px solid #282828;
  position: relative;
  top: 0.75em;
}
.boxkat-accordion {
  
}

.molecule {

}

.molecule-chk {
  display: none;
}

.molecule-toggle {
  background: white;
  color: #282828;
  width: 25%;
  cursor: pointer;
}
.molecule-toggle:hover {
  background: #ddd;
}
input[type="checkbox"][checked="checked"].molecule-chk + .molecule-toggle,
input[type="checkbox"].molecule-chk:checked + .molecule-toggle {
  background: #ddd;
}

.toggle-header {
  font-size: 2.5em;
  padding: 0;
  margin: 0;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.molecule-content {
  color: #282828;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-left: 20%;
  width: 60%;
  max-height: 0;
  overflow-y:hidden;
  top:3em;
  
  -webkit-transition: max-height 0.3s ease-in-out;
     -moz-transition: max-height 0.3s ease-in-out;
      -ms-transition: max-height 0.3s ease-in-out;
       -o-transition: max-height 0.3s ease-in-out;
          transition: max-height 0.3s ease-in-out;
}

.content-header {
  font-size: 2.5em;
  font-weight: normal;
}

.content-body {
  text-align: left;
  line-height: 25px;
}

input[type="checkbox"][value="on"].molecule-chk ~ .molecule-content,
    input[type="checkbox"].molecule-chk:checked ~ .molecule-content,
                          .molecule-chk:checked ~ .molecule-content {
  max-height: 1000px;
}

.atom {

}



//right column
.details {
  width: 33%;
}


