// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Orator Std';
  src:url('OratorStd.eot');
  src:url('OratorStd.eot?#iefix') format('embedded-opentype'),
    url('OratorStd.svg#OratorStd') format('svg'),
    url('OratorStd.woff') format('woff'),
    url('OratorStd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  ::selection {
    background: #faa24a;
  }
  ::-moz-selection {
    background: #faa24a;
  }
}
h1 {
  font-family: 'Orator Std';
}

.logo {
  width: 100%;
  text-align: center;
}
.logo-img {
  height: 300px;
}
.logo-title {
  font-size: 3em;
  font-weight: lighter;
  color: #282828;
  margin: 0;
  padding: 0;
}
