// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Orator Std';
  src:font-url('OratorStd.eot');
  src:font-url('OratorStd.eot?#iefix') format('embedded-opentype'),
    font-url('OratorStd.svg#OratorStd') format('svg'),
    font-url('OratorStd.woff') format('woff'),
    font-url('OratorStd.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  ::selection {
    background: #faa24a;
  }
  ::-moz-selection {
    background: #faa24a;
  }
}
.title {
  font-family: 'Orator Std', sans-serif;
}

.col {
  float: left;
  width: 33%;
  height: 100%;
  min-height: 100px;
  display:inline;
}


//left column
.emph {

}


//center column
.logo {
  text-align: center;
}

.logo-img {
  height: 300px;
}

.logo-title {
  font-size: 3em;
  font-weight: lighter;
  color: #282828;
  margin: 0;
  padding: 0;
}

.cmd {
  margin: 0;
  padding: 0;
  
  display: none;
}

.cmd-prompt {
  display: none;
  
  border: none;
  border-bottom: 1px solid #282828;
}

.shell {
  
}

.shell-entry {
  padding: 0;
  margin: 0;
  
  font-family: 'Droid Serif', serif;
}

//right column
.details {
  width: 33%;
}
