<!DOCTYPE html>
<html>
<head>
  <title>Javakat</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /></meta>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
